$subMenuColorBg: #273142;
$subMenuColorSpan: #7f8fa4;
$subMenuColorFont: #fff;

$inputFontColor:  #7c8ca5;
$inputBg: #222c3c;
$inputBorder: #313d4f;
$inputBorderHover: #1a91eb;
$inputBgHover: #265a87;

.btn {
  border: none;
  outline: none;
  border-radius: 3px;
}

.success {
  background-color: #35ad46;
  color: #fff;
}

h2 {
  color: $subMenuColorFont;
  font-size: 1rem;
  padding: 10px;
}

h3 {
  color: $subMenuColorSpan;
  font-size: .9rem;
  padding: 10px;
}

select, input {
  outline: none;
  border: 1px solid $inputBorder;
  background-color: $inputBg;
  color: $inputFontColor;
  border-radius: 3px;
}


body {
  font-family: "Arial";
  font-size: 11px;
  background: #1b2431;
}

a {
  text-decoration: none;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  nav.blue {
    background: rgb(25,144,234);
    background: linear-gradient(0deg, rgba(25,144,234,1) 0%, rgba(46,161,248,1) 100%);
    display: flex;
    justify-content: space-between;
  }

  .nav-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
  }

  .nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px
  }

  .site-logo {
    margin: 0 20px;
  }

  .nav-menu {
    align-items: center;
  }
  .nav-item {
    display: none;
  }

  .nav-item:last-child {
    font-size: 2em;
    display: block;
  }
  .nav-link {
    color: #fff;
    text-decoration: none;
  }

  .nav-user {
    display: flex;
    align-items: center;
  }

  .user-item {
    margin: 0 5px;
  }

  .user-link {
    color: #6abcfb;
  }

  // nav.sub-menu
  nav.sub-menu {
    display: flex;
    height: 70px;
    background-color: $subMenuColorBg;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $inputBorder;
    h3 {
      color: $subMenuColorFont;
      font-size: 1.7em;
      span {
        color: $subMenuColorSpan;
        font-size: .8rem;
      }
    }
    .filter-list {
      display: flex;
    }

    .list-item {
      display: none;
    }

    .list-item:last-child{
      display: block;
    }

    .link-item {
      color: $inputFontColor;
      font-size: 1.7rem;
      border: 2px solid $inputBorder;
      padding: 5px;
      border-radius: 20%;
      background-color: $inputBg;
    }

    .search {
      display: none;
    }
  }
  .content-wrapper {
    .tools {
      background-color: $subMenuColorBg;
      border-bottom: 1px solid $inputBorder;
      // height: 140px;
      // outline: 1px dotted red;
      .preview {
        padding: 20px 0;
        // outline: 1px dashed red;
        img {
          display: block;
          margin: 0 auto;
          text-align: center;
          // width: 50%;
          // height: 50%;
        }
        h2 {
          // outline: 1px solid red;
          text-align: center;
        }
      }
      .details {
        .details-wrapper {
          display: flex;
          justify-content: center;
          ul:nth-child(2){
            border-left: 1px solid $inputBorder;
          }
        }
        .details-list {
          // outline: 1px dashed red;
          & > li {
            font-size: 1rem;
            margin: 10px;
            color: #fff;
            span.fab, span.fas {
              font-size: 1rem;
              color: $subMenuColorSpan;
              margin-right: 1rem;
            }
          }
        }
      }

      .used-colours {
        ul{
          display: flex;
          justify-content: center;
          // margin: 10px 0;
          li {
            display: block;
            height: 2rem;
            width: 2rem;
            border-radius: 3px;
            // outline: 1px solid red;
            margin-left: 2px;
            &:first-child{
              background-color: #12cddf;
            }
            &:nth-child(2){
              background-color: #e8f7f7;
            }
            &:nth-child(3){
              background-color: #3d7993;
            }
            &:nth-child(4){
              background-color: #bd9094;
            }
            &:nth-child(5){
              background-color: #c3692c;
            }
            &:nth-child(6){
              background-color: #112725;
            }
            &:nth-child(7){
              background-color: #0f1c1c;
            }
            &:nth-child(8){
              background-color: #00859d;
            }
            &:nth-child(9){
              background-color: #b9e4ea;
            }
            &:nth-child(10){
              background-color: #a9dbeb;
            }
            

          }
        }
      }
      .info {
        .form-row {
          display: flex;
          justify-content: start;
          padding: 10px;
        }
          label {
            display: block;
            width: 30%;
            font-size: 1rem;
            margin: 10px;
            color: #fff;
          }

          select {
            display: block;
            width: 70%;
          }
        }
      }
    }
    .content {
      background-color: #192432;
    }
    .content-section {
      border: 1px solid $inputBorder;
      border-radius: 10px;
      margin: 20px auto;
      width: 88vw;
      background-color: $subMenuColorBg;
      img {
        display: block;
        width: 250px;
        height: 160px;
        border-radius: 10px;
        margin: auto;
        padding: 10px;
        padding-bottom: none;
      }
      h3 {
        color: #fff;
        font-size: 1.1rem;
      }
      p{
        color: $subMenuColorSpan;
        padding-left: 10px;
        font-size: .75rem;
      }
      ul {
        display: flex;
        margin: 10px;
        li {
          margin-left: 2px;
          a:first-child {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $inputBg;
            text-align: center;
            line-height: 32px;
          }

          a {
            border: 1px solid $inputBorder;
          }

          a:link, a:visited {
            color: $inputFontColor;
            padding-left: 1px;
          }

          img {
            margin: -10px 0 0 -10px; 
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }
      }
    }
  }

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  nav.blue {
    background: rgb(25,144,234);
    background: linear-gradient(0deg, rgba(25,144,234,1) 0%, rgba(46,161,248,1) 100%);
    display: flex;
    justify-content: space-between;
    height: 70px;
  }
  .nav-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
  }

  .nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px
  }

  .site-logo {
    margin: 0 20px;
  }

  .nav-menu {
    align-items: center;
  }
  .nav-item {
    display: none;
  }

  .nav-item:last-child {
    font-size: 2em;
    display: block;
  }
  .nav-link {
    color: #fff;
    text-decoration: none;
  }

  .nav-user {
    display: flex;
    align-items: center;
  }

  .user-item {
    margin: 0 5px;
  }

  .user-link {
    color: #6abcfb;
  }

  // nav.sub-menu

  .sub-menu {
    display: flex;
    height: 70px;
    background-color: $subMenuColorBg;
    justify-content: space-around;
    align-items: center;
    h3 {
      color: $subMenuColorFont;
      font-size: 1.7em;
      span {
        color: $subMenuColorSpan;
        font-size: .8rem;
      }
    }
    .filter-list {
      display: flex;
    }

    .list-item {
      border: 1px solid #313d4f;
      padding: 10px;
      background-color: #222c3c;
    }

    .list-item:hover {
      border-color: #1a91eb;
      background-color: #265a87;
    }

    .list-item:last-child{
      display: none;
    }

    .list-item:first-child {
      border-radius: 5px 0 0 5px;
      border-right: none;
    }

    .list-item:nth-child(3){
      border-radius: 0 5px 5px 0;
      border-left: none;
    }

    .link-item {
      color: #7c8ca5;
      font-size: 1rem;
    }

    .link-item {
      color: #fff;
    }


    .search {
      display: none;
    }
  }
  .content-wrapper {
    display: flex;
    .tools {
      background-color: $subMenuColorBg;
      border-right: 1px solid $inputBorder;
      // border-top: 1px solid $inputBorder;
      // outline: 1px dotted red;
      width: 50vw;

      .preview {
        border-top: 1px solid $inputBorder;
        h2 {
          text-align: center;
        }
        img {
          margin: 0 auto;
          text-align: center;
          display: flex;
          justify-content: center;
          // width: 50%;
          // height: 50%;
        }
      }
      .details {
        border-top: 1px solid $inputBorder;
        color: #fff;
        font-size: .8rem;
        margin: 0 10px;
        line-height: 1.5rem;
        .details-wrapper {
          display: flex;
          justify-content: center;
          ul {
            // outline: 1px dashed red;
            margin: 20px;
          }
          ul:first-child {
            span {
              margin-right: 6px;
              color: $subMenuColorSpan;
            }
          }
          ul:nth-child(2) {
            padding: 0 20px;
            border-left: 1px solid $inputBorder;
          }
        }
      }
      .used-colours {
        border-top: 1px solid $inputBorder;
      }
      .info {
        border-top: 1px solid $inputBorder;
        label {
          color: #fff;
          font-size: .8rem;
          margin-right: 20px;
          line-height: 2.5rem;
        }
        .form-row {
          display: flex;
          justify-content: center;
          padding: 10px;
          // outline: 1px dotted red;
        }
        select {
          display: block;
          width: 70%;
          padding: 10px;
        }
      }
    }
    .content {
      margin: 0 auto;
      .content-section {
        border: 1px solid $inputBorder;
        border-radius: 10px;
        margin: 20px auto;
        max-width: 320px;
        background-color: $subMenuColorBg;
        img {
          display: block;
          width: 250px;
          height: 160px;
          border-radius: 10px;
          margin: auto;
          padding: 10px;
          padding-bottom: none;
        }
        h3 {
          color: #fff;
          font-size: 1.1rem;
        }
        p{
          color: $subMenuColorSpan;
          padding-left: 10px;
          font-size: .75rem;
        }
        ul {
          display: flex;
          margin: 10px;
          li {
            margin-left: 2px;
            a:first-child {
              display: block;
              width: 32px;
              height: 32px;
              border-radius: 50%;
              background-color: $inputBg;
              text-align: center;
              line-height: 32px;
            }
  
            a {
              border: 1px solid $inputBorder;
            }
  
            a:link, a:visited {
              color: $inputFontColor;
              padding-left: 1px;
            }
  
            img {
              margin: -10px 0 0 -10px; 
              width: 32px;
              height: 32px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

.nav-left {
  width: 50vw;
  display: flex;
  justify-content: start;
  align-items: center;
}

.site-logo {
  width: 40px;
  height: 40px;
  margin-left: 40px;
}

.nav-list {
  display: flex;
}

.nav-item {
  padding: 0 20px;
}

.nav-item {
  display: block;
}

.nav-item:last-child {
  display: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.3em;
  color: #fff
}

.nav-right {
  display: flex;
  justify-content: end;
}

.content-wrapper {
  display: flex;
  .tools {
    max-width: 320px;
    .preview {
      img {
        width: 80%;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;  
    grid-gap: 10px;
  }
  .content-section {
    max-width: 77vw;
    max-height: 300px;
  }
}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .sub-menu{
    .search {
      display: block;

      form {
        display: flex;
      }
      label {
        display: block;
      }
      input[type=search],label{
        background-color: $inputBg;
        border: 1px solid $inputBorder;
        height: 40px;
        padding: 0 10px;
        width: 200px;
      }
      input[type=search]{
        border-right: none;
        border-radius: 5px 0 0 5px;
      }
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 38px;
        padding: 0;
        border-left: none;
        border-radius: 0 5px 5px 0;
        span {
          padding: 0;
          margin: 0;
          color: $inputFontColor;
          font-size: 1.4em;
        }
      }
      button {
        margin: 0 10px;
        height: 38px;
      }
    }
  }

  .content-wrapper .content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-section {
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content-wrapper .content {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}